<p>Привет, <%= @resource.email %>!</p>

<p>Кто-то запросил смену пароля. Вы можете это сделать с помощю ссылки ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали смену пароля, то проигрнорируйте это сообщение.</p>

